In [2]:
# Cargar la base de datos
import pandas as pd

data_sleep_training = pd.read_csv("/Users/home/Documents/Mediums/Sleep training/Sleep_training_261020.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dia                      161 non-null    object
 1   Hora_inicio              161 non-null    object
 2   Actividad                161 non-null    object
 3   Codigo_Actividad         161 non-null    object
 4   Siesta1_inicio           134 non-null    object
 5   Siesta1_final            134 non-null    object
 6   Siesta2_inicio           134 non-null    object
 7   Siesta2_final            134 non-null    object
 8   Siesta3_inicio           117 non-null    object
 9   Siesta3_final            117 non-null    object
 10  Nap_time_siesta1         134 non-null    object
 11  Nap_time_siesta2         134 non-null    object
 12  NAP_time_siesta3         117 non-null    object
 13  Awake_time_siesta1       134 non-null    object
 14  Awake_time_siesta2       134 non-null    object
 15  Awake_time_siesta3       117 non-null    object
 16  Awake_time_dormir_noche  134 non-null    object
 17  Sum_Nap                  134 non-null    object
 18  Sum_awake                134 non-null    object
 19  Unnamed: 19              0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 25.3+ KB

In [3]:
# Revisar que la base este bien cargada
data_sleep_training.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161 entries, 0 to 160
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dia                      161 non-null    object
 1   Hora_inicio              161 non-null    object
 2   Actividad                161 non-null    object
 3   Codigo_Actividad         161 non-null    object
 4   Siesta1_inicio           134 non-null    object
 5   Siesta1_final            134 non-null    object
 6   Siesta2_inicio           134 non-null    object
 7   Siesta2_final            134 non-null    object
 8   Siesta3_inicio           117 non-null    object
 9   Siesta3_final            117 non-null    object
 10  Nap_time_siesta1         134 non-null    object
 11  Nap_time_siesta2         134 non-null    object
 12  NAP_time_siesta3         117 non-null    object
 13  Awake_time_siesta1       134 non-null    object
 14  Awake_time_siesta2       134 non-null    object
 15  Awake_time_siesta3       117 non-null    object
 16  Awake_time_dormir_noche  134 non-null    object
 17  Sum_Nap                  134 non-null    object
 18  Sum_awake                134 non-null    object
 19  Unnamed: 19              0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 25.3+ KB

,Dia,Hora_inicio,Actividad,Codigo_Actividad,Siesta1_inicio,Siesta1_final,Siesta2_inicio,Siesta2_final,Siesta3_inicio,Siesta3_final,Nap_time_siesta1,Nap_time_siesta2,NAP_time_siesta3,Awake_time_siesta1,Awake_time_siesta2,Awake_time_siesta3,Awake_time_dormir_noche,Sum_Nap,Sum_awake,Unnamed: 19
0,16/10/20,17:30,Leche y baño,LB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,16/10/20,18:15,Hacer dormir,HD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16/10/20,18:20,Poner en cuna,PC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16/10/20,18:45,Profundamente dormida,PD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,16/10/20,18:50,Salida cuarto,SC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN