In [28]:
import pandas as pd
import numpy as np


db = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/WorldCupMatches.csv")
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [13]:
db = db[['Year', 'Home Team Name', 'Home Team Goals',
         'Away Team Goals', 'Away Team Name']]


# I don't this code anymore because I found a data base that has the information 
# I will still leave it here
#db.describe()
#db['Total_goals'] = db['Home Team Goals'] + db['Away Team Goals']
#db.groupby('Year')['Total_goals'].mean() # Aggregate by mean
#db.groupby('Year')['Total_goals'].count() # Aggregate number of games
#db0 = (db.groupby(['Year'])['Total_goals']
 #        .agg([('average_goals','mean'),('total_goals','sum'), ('total_games','count')])
 #        .reset_index())
#db0

In [14]:
#Aggregated information from world cups
db3 = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/WorldCups.csv")
# Tranforms the attendance into an integer
db3['Attendance']=db3['Attendance'].replace('\.','',regex=True).astype(int)
db3 = db3.replace('Germany FR', 'Germany')
db3.at[16, 'Country'] = 'Korea Republic'
db3

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810

In [15]:
# World cup 2018

db2 = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/Cup.Russia.Matches.csv")

# Order the data to make all aggregate data
db2 = db2[['Home Team',
           'Home Team Goals',  'Away Team Goals',
           'Away Team', 'Total Goals', 'Attendance']]

db2['Year'] = 2018
db2['Country'] = 'Russia'
db2['GoalsScored'] = db2['Total Goals'].sum()

# Number of  Qualified teams

# Extract useful columns
db2_1 = db2['Home Team']
db2_2 = db2['Away Team']

# Rename columns to merge
db2_1.columns = ['Teams']
db2_2.columns = ['Teams']

# Row binding
data_merging = [db2_1, db2_2]
db2_12 = pd.concat(data_merging)

# Extract only unique cases
number = len(db2_12.unique().tolist())
db2['Qualifiedteams'] =  number

# Calculate total attendance and number of matches playes
db2['MatchesPlayed'] = db2['Home Team'].count()
db2['Total_attendance'] = db2['Attendance'].sum()

# Filter columns
db2_aggregation_var = db2[['Year', 'Country', 'GoalsScored',
                           'Qualifiedteams', 'MatchesPlayed',
                           'Total_attendance']]
# Create missing columns
db2_aggregation_var['Winner'] = 'France'
db2_aggregation_var['Runners-Up'] = 'Croatia' 
db2_aggregation_var['Third'] = 'Belgium'                    
db2_aggregation_var['Fourth'] = 'England' 

# Re organize columns
db2_aggregation_var = db2_aggregation_var[['Year', 'Country',
                                           'Winner', 'Runners-Up',
                                           'Third', 'Fourth', 
                                           'GoalsScored', 'Qualifiedteams',
                                           'MatchesPlayed', 'Total_attendance']]                    

# Rename columns to bind
db2_aggregation_var.columns =['Year', 'Country',
                                           'Winner', 'Runners-Up',
                                           'Third', 'Fourth', 
                                           'GoalsScored', 'QualifiedTeams',
                                           'MatchesPlayed', 'Attendance']                   

# Extract single row
db2_aggregation_var = db2_aggregation_var[0:1]
# Row binding
wc_row_bind = [db3, db2_aggregation_var]
WC_general_final = pd.concat(wc_row_bind)
WC_general_final

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810
0,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031766

In [16]:
# Graphs of averaged golas per WC
WC_general_final['Mean_goals'] = WC_general_final['GoalsScored']/WC_general_final['MatchesPlayed']
WC_general_final

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,Mean_goals
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549,3.888889
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000,4.117647
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700,4.666667
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246,4.000000
4,1954,Switzerland,Germany,Hungary,Austria,Uruguay,140,16,26,768607,5.384615
5,1958,Sweden,Brazil,Sweden,France,Germany,126,16,35,819810,3.600000
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172,2.781250
7,1966,England,England,Germany,Portugal,Soviet Union,89,16,32,1563135,2.781250
8,1970,Mexico,Brazil,Italy,Germany,Uruguay,95,16,32,1603975,2.968750
9,1974,Germany,Germany,Netherlands,Poland,Brazil,97,16,38,1865753,2.552632
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791,2.684211
11,1982,Spain,Italy,Germany,Poland,France,146,24,52,2109723,2.807692
12,1986,Mexico,Argentina,Germany,France,Belgium,132,24,52,2394031,2.538462
13,1990,Italy,Germany,Argentina,Italy,England,115,24,52,2516215,2.211538
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538,2.711538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100,2.671875
16,2002,Korea Republic,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197,2.515625
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439,2.296875
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856,2.265625
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810,2.671875
0,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031766,2.640625

In [17]:
# Graficar los promedios

In [18]:
# Descriptive statistics finding hidden patterns

# How many European teams went to the finals?

In [19]:
# How many Latin American teams went to the finals?

In [30]:
# Which team is the most efficient when it reaches the final?

WC_general_final_winner = pd.DataFrame(WC_general_final['Winner'])
WC_general_final_runnerup = pd.DataFrame(WC_general_final['Runners-Up'])


WC_general_final_winner['First'] = 1
WC_general_final_runnerup['Second'] = 1

WC_general_final_winner = pd.DataFrame(WC_general_final_winner.groupby('Winner')['First'].sum()) # Aggregate get goals

WC_general_final_winner['Country']=WC_general_final_winner.index
WC_general_final_winner = WC_general_final_winner.reset_index(drop=True)


WC_general_final_runnerup = pd.DataFrame(WC_general_final_runnerup.groupby('Runners-Up')['Second'].sum())

WC_general_final_runnerup['Country'] = WC_general_final_runnerup.index 
WC_general_final_runnerup = WC_general_final_runnerup.reset_index(drop=True)

WC_general_final_win_runner =  pd.merge(WC_general_final_winner, 
                                        WC_general_final_runnerup,
                                        how='outer', left_on='Country', 
                                        right_on='Country')

WC_general_final_win_runner = WC_general_final_win_runner.replace(to_replace= np.nan,
                                                                  value = 0)

WC_general_final_win_runner['Total'] = WC_general_final_win_runner['First']+ WC_general_final_win_runner['Second']
WC_general_final_win_runner['Proportion_wins'] = WC_general_final_win_runner['First']/WC_general_final_win_runner['Total']
WC_general_final_win_runner

    First         Country  Second  Total  Proportion_wins
0     2.0       Argentina     3.0    5.0         0.400000
1     5.0          Brazil     2.0    7.0         0.714286
2     1.0         England     0.0    1.0         1.000000
3     2.0          France     1.0    3.0         0.666667
4     4.0         Germany     4.0    8.0         0.500000
5     4.0           Italy     2.0    6.0         0.666667
6     1.0           Spain     0.0    1.0         1.000000
7     2.0         Uruguay     0.0    2.0         1.000000
8     0.0         Croatia     1.0    1.0         0.000000
9     0.0  Czechoslovakia     2.0    2.0         0.000000
10    0.0         Hungary     2.0    2.0         0.000000
11    0.0     Netherlands     3.0    3.0         0.000000
12    0.0          Sweden     1.0    1.0         0.000000

In [21]:
# How many teams that were host won 

WC_general_final.loc[WC_general_final['Country'] == WC_general_final['Winner'], 'Host_win']  = 1
WC_general_final.loc[WC_general_final['Country'] != WC_general_final['Winner'], 'Host_win']  = 0
Resultado = WC_general_final['Host_win'].sum()/len(WC_general_final['Host_win'])
Resultado

0.2857142857142857

In [22]:
# How many teams that were host lost finals
WC_general_final.loc[WC_general_final['Country'] == WC_general_final['Runners-Up'], 'Host_loss'] = 1
WC_general_final.loc[WC_general_final['Country'] != WC_general_final['Runners-Up'], 'Host_loss'] = 0
Resultado2 = WC_general_final['Host_loss'].sum()/len(WC_general_final['Host_loss'])
Resultado2

0.09523809523809523

In [23]:
# How many host teams at least went to the semifinals


def function(row):
    if row['Country'] == row['Winner']:
        val = 1
    elif row['Country'] == row['Runners-Up']:
        val = 1
    elif row['Country'] == row['Third']: 
        val = 1
    elif row['Country'] == row['Fourth']:
        val = 1
    else:
        val = 0
    return val
        
WC_general_final['Host_semifinal'] = WC_general_final.apply(function, axis=1)  
WC_general_final.reset_index(drop=True)

Resultado3 = WC_general_final['Host_semifinal'].sum()/len(WC_general_final['Host_semifinal'])
Resultado3

0.6190476190476191

In [24]:
# Create a variable of Year for Russia
db2['Year'] = 2018
# Re organize the variables
db2_matches = db2[['Year','Home Team', 'Home Team Goals', 'Away Team Goals',
                   'Away Team']]


# Rename the variables
db2_matches.columns = ['Year', 'Home Team Name', 'Home Team Goals', 
                      'Away Team Goals', 'Away Team Name']

matches_bind = [db,db2_matches]
WC_matches_final = pd.concat(matches_bind)
WC_matches_final

      Year Home Team Name  Home Team Goals  Away Team Goals Away Team Name
0   1930.0         France              4.0              1.0         Mexico
1   1930.0            USA              3.0              0.0        Belgium
2   1930.0     Yugoslavia              2.0              1.0         Brazil
3   1930.0        Romania              3.0              1.0           Peru
4   1930.0      Argentina              1.0              0.0         France
..     ...            ...              ...              ...            ...
59  2018.0         Russia              2.0              2.0        Croatia
60  2018.0         France              1.0              0.0        Belgium
61  2018.0        Croatia              2.0              1.0        England
62  2018.0        Belgium              2.0              0.0        England
63  2018.0         France              4.0              2.0        Croatia

[4636 rows x 5 columns]

In [25]:
# Merge data sets