In [94]:
import pandas as pd


db = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/WorldCupMatches.csv")
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  852 non-null    float64
 1   Datetime              852 non-null    object
 2   Stage                 852 non-null    object
 3   Stadium               852 non-null    object
 4   City                  852 non-null    object
 5   Home Team Name        852 non-null    object
 6   Home Team Goals       852 non-null    float64
 7   Away Team Goals       852 non-null    float64
 8   Away Team Name        852 non-null    object
 9   Win conditions        852 non-null    object
 10  Attendance            850 non-null    float64
 11  Half-time Home Goals  852 non-null    float64
 12  Half-time Away Goals  852 non-null    float64
 13  Referee               852 non-null    object
 14  Assistant 1           852 non-null    object
 15  Assistant 2           852 non-null    object
 16  RoundID               852 non-null    float64
 17  MatchID               852 non-null    float64
 18  Home Team Initials    852 non-null    object
 19  Away Team Initials    852 non-null    object
dtypes: float64(8), object(12)
memory usage: 714.5+ KB

In [95]:
db = db[['Year', 'City', 'Home Team Name', 'Home Team Goals',
         'Away Team Goals', 'Away Team Name', 'Half-time Home Goals',
         'Half-time Away Goals', 'Home Team Initials', 'Away Team Initials']]


# I don't this code anymore because I found a data base that has the information 
# I will still leave it here
#db.describe()
#db['Total_goals'] = db['Home Team Goals'] + db['Away Team Goals']
#db.groupby('Year')['Total_goals'].mean() # Aggregate by mean
#db.groupby('Year')['Total_goals'].sum() # Aggregate get goals
#db.groupby('Year')['Total_goals'].count() # Aggregate number of games
#db0 = (db.groupby(['Year'])['Total_goals']
 #        .agg([('average_goals','mean'),('total_goals','sum'), ('total_games','count')])
 #        .reset_index())
#db0

In [96]:
#Aggregated information from world cups
db3 = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/WorldCups.csv")
# Tranforms the attendance into an integer
db3['Attendance']=db3['Attendance'].replace('\.','',regex=True).astype(int)

In [97]:
# World cup 2018

db2 = pd.read_csv("/Users/home/Dropbox/Databases/fifa-world-cup/Cup.Russia.Matches.csv")

# Order the data to make all aggregate data
db2 = db2[['Home Team',
           'Home Team Goals',  'Away Team Goals',
           'Away Team', 'Total Goals', 'Attendance']]

db2['Year'] = 2018
db2['Country'] = 'Russia'
db2['GoalsScored'] = db2['Total Goals'].sum()

# Number of  Qualified teams

# Extract useful columns
db2_1 = db2['Home Team']
db2_2 = db2['Away Team']

# Rename columns to merge
db2_1.columns = ['Teams']
db2_2.columns = ['Teams']

# Row binding
data_merging = [db2_1, db2_2]
db2_12 = pd.concat(data_merging)

# Extract only unique cases
number = len(db2_12.unique().tolist())
db2['Qualifiedteams'] =  number

# Calculate total attendance and number of matches playes
db2['MatchesPlayed'] = db2['Home Team'].count()
db2['Total_attendance'] = db2['Attendance'].sum()

# Filter columns
db2_aggregation_var = db2[['Year', 'Country', 'GoalsScored',
                           'Qualifiedteams', 'MatchesPlayed',
                           'Total_attendance']]
# Create missing columns
db2_aggregation_var['Winner'] = 'France'
db2_aggregation_var['Runners-Up'] = 'Croatia' 
db2_aggregation_var['Third'] = 'Belgium'                    
db2_aggregation_var['Fourth'] = 'England' 

# Re organize columns
db2_aggregation_var = db2_aggregation_var[['Year', 'Country',
                                           'Winner', 'Runners-Up',
                                           'Third', 'Fourth', 
                                           'GoalsScored', 'Qualifiedteams',
                                           'MatchesPlayed', 'Total_attendance']]                    

# Rename columns to bind
db2_aggregation_var.columns =['Year', 'Country',
                                           'Winner', 'Runners-Up',
                                           'Third', 'Fourth', 
                                           'GoalsScored', 'QualifiedTeams',
                                           'MatchesPlayed', 'Attendance']                   

# Extract single row
db2_aggregation_var = db2_aggregation_var[0:1]
# Row binding
wc_row_bind = [db3, db2_aggregation_var]
WC_genera_final = pd.concat(wc_row_bind)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [101]:
WC_genera_final

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 0 to 0
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            21 non-null     int64
 1   Country         21 non-null     object
 2   Winner          21 non-null     object
 3   Runners-Up      21 non-null     object
 4   Third           21 non-null     object
 5   Fourth          21 non-null     object
 6   GoalsScored     21 non-null     int64
 7   QualifiedTeams  21 non-null     int64
 8   MatchesPlayed   21 non-null     int64
 9   Attendance      21 non-null     int64
dtypes: int64(5), object(5)
memory usage: 1.8+ KB

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363000
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375700
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1045246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768607
5,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819810
6,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893172
7,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1563135
8,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1603975
9,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1865753
10,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1545791
11,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2109723
12,1986,Mexico,Argentina,Germany FR,France,Belgium,132,24,52,2394031
13,1990,Italy,Germany FR,Argentina,Italy,England,115,24,52,2516215
14,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3587538
15,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2785100
16,2002,Korea/Japan,Brazil,Germany,Turkey,Korea Republic,161,32,64,2705197
17,2006,Germany,Italy,France,Germany,Portugal,147,32,64,3359439
18,2010,South Africa,Spain,Netherlands,Germany,Uruguay,145,32,64,3178856
19,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3386810
0,2018,Russia,France,Croatia,Belgium,England,169,32,64,3031766

In [99]:
# Merge data sets

#db_final = pd.merge(db, db3, how='inner', left_on='Year', right_on='Year')
#db_final.info()