In [6]:
import pandas as pd
import sidetable as stb
import numpy as np

In [12]:
db_bplayer = pd.read_csv("/Users/home/Dropbox/Databases/Mejor jugador futbol/Mejor_deLa_historia.csv",
                         encoding = "ISO-8859-1")

db_bplayer = db_bplayer[['ï»¿Nombre','Apellido',
                         'Pais', 'Eleccion', 
                         'Fecha_nacimiento', 'Posicion',
                         'Duplicate', 'Anho_Fallecio']]

db_bplayer.columns = ['Nombre','Apellido',
                         'Pais', 'Eleccion', 
                         'Fecha_nacimiento', 'Posicion',
                         'Duplicate', 'Anho_Fallecio']
Unique = ["0"]
db_bplayer = db_bplayer[db_bplayer.Duplicate.isin(Unique)]          

#db_bplayer["Anho_debut_Messi"] = 2003
#db_bplayer["Anho_debut_Pele"] = 1956
#db_bplayer["Anho_debut_Maradona"] = 1976

conditions = [
    (db_bplayer['Anho_Fallecio'] < 1976),
    (db_bplayer['Anho_Fallecio'] < 2003),
    (db_bplayer['Anho_Fallecio'] >= 2003)]

values = ['Vieron a Pele', 'Vieron Maradona y Pele',
          'Vieron a todos']

db_bplayer['Vio_jugador'] = np.select(conditions, values)

db_bplayer['Vio_jugador'] = db_bplayer['Vio_jugador'].replace('0', 'Vieron a todos') 

db_bplayer.head(10)

,Nombre,Apellido,Pais,Eleccion,Fecha_nacimiento,Posicion,Duplicate,Anho_Fallecio,Vio_jugador
0,NaN,Abelardo,ESP,Messi,1970.0,Defensa,0,NaN,Vieron a todos
1,eric,Abidal,FRA,Messi,1979.0,Defensa,0,NaN,Vieron a todos
2,Vicente,Feola,BRA,Pele,1909.0,Entrenador,0,1975.0,Vieron a Pele
3,Beto,Acosta,ARG,Messi,1966.0,Delantero,0,NaN,Vieron a todos
4,NaN,Leonidas,BRA,Pele,1913.0,Delantero,0,2004.0,Vieron a todos
5,NaN,Adan,ESP,Messi,1987.0,Arquero,0,NaN,Vieron a todos
6,Amadeo,Carrizo,ARG,Pele,1926.0,Arquero,0,2020.0,Vieron a todos
7,Sergio,AgÃ¼ero,ARG,Messi,1988.0,Delantero,0,NaN,Vieron a todos
8,Pablo,Aimar,ARG,Messi,1979.0,Mediocampo,0,NaN,Vieron a todos
9,Jordi,Alba,ESP,Messi,1989.0,Defensa,0,NaN,Vieron a todos

In [16]:
#db_bplayer.stb.freq(['Eleccion'])
#db_bplayer.stb.freq(['Pais'])
#db_bplayer.stb.freq(['Posicion'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 442
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            305 non-null    object
 1   Apellido          418 non-null    object
 2   Pais              418 non-null    object
 3   Eleccion          418 non-null    object
 4   Fecha_nacimiento  414 non-null    float64
 5   Posicion          416 non-null    object
 6   Duplicate         418 non-null    int64
 7   Anho_Fallecio     31 non-null     float64
dtypes: float64(2), int64(1), object(5)
memory usage: 29.4+ KB

In [17]:
Messi = ["Messi"]
db_bplayer_Messi = db_bplayer[db_bplayer.Eleccion.isin(Messi)]
db_bplayer_Messi.stb.freq(['Pais'])

    Pais  count  percent  cumulative_count  cumulative_percent
0    ESP     66     26.4                66                26.4
1    ARG     54     21.6               120                48.0
2    ING     20      8.0               140                56.0
3    ALE     14      5.6               154                61.6
4    BRA     12      4.8               166                66.4
5    FRA     10      4.0               176                70.4
6    ITA      7      2.8               183                73.2
7    HOL      6      2.4               189                75.6
8    CHI      6      2.4               195                78.0
9    URU      4      1.6               199                79.6
10   VEN      3      1.2               202                80.8
11   NOR      3      1.2               205                82.0
12   MEX      3      1.2               208                83.2
13   IRL      3      1.2               211                84.4
14   ESC      3      1.2               214                85.6
15   CRO      3      1.2               217                86.8
16   SUE      2      0.8               219                87.6
17   PER      2      0.8               221                88.4
18   NIG      2      0.8               223                89.2
19   COL      2      0.8               225                90.0
20   CAM      2      0.8               227                90.8
21   BUL      2      0.8               229                91.6
22   BEL      2      0.8               231                92.4
23   TUR      1      0.4               232                92.8
24   SVN      1      0.4               233                93.2
25   SVL      1      0.4               234                93.6
26   SER      1      0.4               235                94.0
27   RUS      1      0.4               236                94.4
28   POR      1      0.4               237                94.8
29   POL      1      0.4               238                95.2
30   PAR      1      0.4               239                95.6
31  NIRL      1      0.4               240                96.0
32   MON      1      0.4               241                96.4
33   MAR      1      0.4               242                96.8
34   HON      1      0.4               243                97.2
35   GHA      1      0.4               244                97.6
36   GAL      1      0.4               245                98.0
37   CHN      1      0.4               246                98.4
38   BOL      1      0.4               247                98.8
39  AUST      1      0.4               248                99.2
40   AUS      1      0.4               249                99.6
41   ARM      1      0.4               250               100.0

In [18]:
Pele = ["Pele"]
db_bplayer_Pele = db_bplayer[db_bplayer.Eleccion.isin(Pele)]
db_bplayer_Pele.stb.freq(['Pais'])

    Pais  count    percent  cumulative_count  cumulative_percent
0    BRA     42  36.842105                42           36.842105
1    ARG     25  21.929825                67           58.771930
2    ITA     15  13.157895                82           71.929825
3    URU      3   2.631579                85           74.561404
4    ING      3   2.631579                88           77.192982
5    ALE      3   2.631579                91           79.824561
6    POR      2   1.754386                93           81.578947
7    HUN      2   1.754386                95           83.333333
8    FRA      2   1.754386                97           85.087719
9    ESP      2   1.754386                99           86.842105
10   ESC      2   1.754386               101           88.596491
11   CHI      2   1.754386               103           90.350877
12   CAM      2   1.754386               105           92.105263
13   VEN      1   0.877193               106           92.982456
14   SUE      1   0.877193               107           93.859649
15   RUS      1   0.877193               108           94.736842
16   PER      1   0.877193               109           95.614035
17  NIRL      1   0.877193               110           96.491228
18   HOL      1   0.877193               111           97.368421
19   ECU      1   0.877193               112           98.245614
20   CRO      1   0.877193               113           99.122807
21   COL      1   0.877193               114          100.000000

In [19]:
Maradona = ["Maradona"]
db_bplayer_Maradona = db_bplayer[db_bplayer.Eleccion.isin(Maradona)]
db_bplayer_Maradona.stb.freq(['Pais'])

   Pais  count    percent  cumulative_count  cumulative_percent
0   ARG     18  33.333333                18           33.333333
1   ITA     12  22.222222                30           55.555556
2   URU      4   7.407407                34           62.962963
3   FRA      4   7.407407                38           70.370370
4   ESP      3   5.555556                41           75.925926
5   BRA      3   5.555556                44           81.481481
6   ING      2   3.703704                46           85.185185
7   CRO      2   3.703704                48           88.888889
8   SUI      1   1.851852                49           90.740741
9   SUE      1   1.851852                50           92.592593
10  POR      1   1.851852                51           94.444444
11  HOL      1   1.851852                52           96.296296
12  GAL      1   1.851852                53           98.148148
13  COL      1   1.851852                54          100.000000