In [24]:
import pandas as pd
import sidetable as stb

In [25]:
db_bplayer = pd.read_csv("/Users/home/Documents/Mediums/Mejor_de_la_historia.csv",
                         encoding = "ISO-8859-1")

In [26]:
db_bplayer.stb.freq(['Pais'])

    Pais  count    percent  cumulative_count  cumulative_percent
0    ARG    103  23.146067               103           23.146067
1    ESP     71  15.955056               174           39.101124
2    BRA     63  14.157303               237           53.258427
3    ITA     40   8.988764               277           62.247191
4    ING     27   6.067416               304           68.314607
5    ALE     20   4.494382               324           72.808989
6    FRA     16   3.595506               340           76.404494
7    URU     12   2.696629               352           79.101124
8    CHI     10   2.247191               362           81.348315
9    HOL      8   1.797753               370           83.146067
10   POR      6   1.348315               376           84.494382
11   ESC      5   1.123596               381           85.617978
12   CRO      5   1.123596               386           86.741573
13   VEN      4   0.898876               390           87.640449
14   SUE      4   0.898876               394           88.539326
15   COL      4   0.898876               398           89.438202
16   CAM      4   0.898876               402           90.337079
17   PER      3   0.674157               405           91.011236
18   NOR      3   0.674157               408           91.685393
19   MEX      3   0.674157               411           92.359551
20   IRL      3   0.674157               414           93.033708
21   RUS      2   0.449438               416           93.483146
22  NIRL      2   0.449438               418           93.932584
23   NIG      2   0.449438               420           94.382022
24   HUN      2   0.449438               422           94.831461
25   GAL      2   0.449438               424           95.280899
26   BUL      2   0.449438               426           95.730337
27   BEL      2   0.449438               428           96.179775
28   TUR      1   0.224719               429           96.404494
29   SVN      1   0.224719               430           96.629213
30   SVL      1   0.224719               431           96.853933
31   SUI      1   0.224719               432           97.078652
32   SER      1   0.224719               433           97.303371
33   POL      1   0.224719               434           97.528090
34   PAR      1   0.224719               435           97.752809
35   MON      1   0.224719               436           97.977528
36   MAR      1   0.224719               437           98.202247
37   HON      1   0.224719               438           98.426966
38   GHA      1   0.224719               439           98.651685
39   ECU      1   0.224719               440           98.876404
40   CHN      1   0.224719               441           99.101124
41   BOL      1   0.224719               442           99.325843
42  AUST      1   0.224719               443           99.550562
43   AUS      1   0.224719               444           99.775281
44   ARM      1   0.224719               445          100.000000

In [27]:
Messi = ["Messi"]
db_bplayer_Messi = db_bplayer[db_bplayer.Eleccion.isin(Messi)]
db_bplayer_Messi.stb.freq(['Pais'])

    Pais  count    percent  cumulative_count  cumulative_percent
0    ESP     66  25.384615                66           25.384615
1    ARG     56  21.538462               122           46.923077
2    ING     21   8.076923               143           55.000000
3    ALE     15   5.769231               158           60.769231
4    BRA     13   5.000000               171           65.769231
5    FRA     10   3.846154               181           69.615385
6    ITA      9   3.461538               190           73.076923
7    CHI      7   2.692308               197           75.769231
8    HOL      6   2.307692               203           78.076923
9    URU      5   1.923077               208           80.000000
10   VEN      3   1.153846               211           81.153846
11   NOR      3   1.153846               214           82.307692
12   MEX      3   1.153846               217           83.461538
13   IRL      3   1.153846               220           84.615385
14   ESC      3   1.153846               223           85.769231
15   CRO      3   1.153846               226           86.923077
16   SUE      2   0.769231               228           87.692308
17   POR      2   0.769231               230           88.461538
18   PER      2   0.769231               232           89.230769
19   NIG      2   0.769231               234           90.000000
20   COL      2   0.769231               236           90.769231
21   CAM      2   0.769231               238           91.538462
22   BUL      2   0.769231               240           92.307692
23   BEL      2   0.769231               242           93.076923
24   TUR      1   0.384615               243           93.461538
25   SVN      1   0.384615               244           93.846154
26   SVL      1   0.384615               245           94.230769
27   SER      1   0.384615               246           94.615385
28   RUS      1   0.384615               247           95.000000
29   POL      1   0.384615               248           95.384615
30   PAR      1   0.384615               249           95.769231
31  NIRL      1   0.384615               250           96.153846
32   MON      1   0.384615               251           96.538462
33   MAR      1   0.384615               252           96.923077
34   HON      1   0.384615               253           97.307692
35   GHA      1   0.384615               254           97.692308
36   GAL      1   0.384615               255           98.076923
37   CHN      1   0.384615               256           98.461538
38   BOL      1   0.384615               257           98.846154
39  AUST      1   0.384615               258           99.230769
40   AUS      1   0.384615               259           99.615385
41   ARM      1   0.384615               260          100.000000

In [28]:
Pele = ["Pele"]
db_bplayer_Pele = db_bplayer[db_bplayer.Eleccion.isin(Pele)]
db_bplayer_Pele.stb.freq(['Pais'])

    Pais  count    percent  cumulative_count  cumulative_percent
0    BRA     45  37.190083                45           37.190083
1    ARG     26  21.487603                71           58.677686
2    ITA     16  13.223140                87           71.900826
3    ALE      4   3.305785                91           75.206612
4    URU      3   2.479339                94           77.685950
5    POR      3   2.479339                97           80.165289
6    ING      3   2.479339               100           82.644628
7    HUN      2   1.652893               102           84.297521
8    FRA      2   1.652893               104           85.950413
9    ESP      2   1.652893               106           87.603306
10   ESC      2   1.652893               108           89.256198
11   CHI      2   1.652893               110           90.909091
12   CAM      2   1.652893               112           92.561983
13   VEN      1   0.826446               113           93.388430
14   SUE      1   0.826446               114           94.214876
15   RUS      1   0.826446               115           95.041322
16   PER      1   0.826446               116           95.867769
17  NIRL      1   0.826446               117           96.694215
18   HOL      1   0.826446               118           97.520661
19   ECU      1   0.826446               119           98.347107
20   CRO      1   0.826446               120           99.173554
21   COL      1   0.826446               121          100.000000

In [29]:
Maradona = ["Maradona"]
db_bplayer_Maradona = db_bplayer[db_bplayer.Eleccion.isin(Maradona)]
db_bplayer_Maradona.stb.freq(['Pais'])

   Pais  count  percent  cumulative_count  cumulative_percent
0   ARG     21  32.8125                21             32.8125
1   ITA     15  23.4375                36             56.2500
2   BRA      5   7.8125                41             64.0625
3   URU      4   6.2500                45             70.3125
4   FRA      4   6.2500                49             76.5625
5   ING      3   4.6875                52             81.2500
6   ESP      3   4.6875                55             85.9375
7   SUI      1   1.5625                56             87.5000
8   SUE      1   1.5625                57             89.0625
9   POR      1   1.5625                58             90.6250
10  HOL      1   1.5625                59             92.1875
11  GAL      1   1.5625                60             93.7500
12  CRO      1   1.5625                61             95.3125
13  COL      1   1.5625                62             96.8750
14  CHI      1   1.5625                63             98.4375
15  ALE      1   1.5625                64            100.0000